<html>
<head>
    <link rel="stylesheet" href="Bootstrap-custom/css/bootstrap.min.css">
    <link rel="stylesheet" href="SearchToolWindow.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="Bootstrap-custom/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="well well-sm myWell">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group stylish-input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="searchMethod">Search by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Relevance</a></li>
                            <li><a href="#">Top</a></li>
                            <li><a href="#">New</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search-param" value="all" id="searchParam">
                    <input type="text" class="form-control" id="searchBox" name="searchBox" placeholder="Search...">
                    <span class="input-group-addon">
                        <button type="submit" id="searchButton">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div id="questions">

        </div>
    </div>

    <script src="SearchToolWindow.js"></script>
</body>
</html>