<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="SearchToolWindow.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-7">
                <div class="input-group">
                    <input id="searchBar" type="text" class="form-control" aria-label="Search...">
                </div>
            </div>
            <div class="col-xs-5">
                <button type="button" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>

    <script src="SearchToolWindow.js"></script>
</body>
</html>