<html>
<head>
    <link rel="stylesheet" href="Bootstrap-custom/css/bootstrap.min.css">
    <link rel="stylesheet" href="SearchToolWindow.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="Bootstrap-custom/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-6 col-sm-9">
                <div class="input-group" style="width: 100%">
                    <input id="searchBar" type="text" class="form-control" aria-label="Search...">
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <button type="button" class="btn btn-default" id="searchButton" id="searchButton">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-9">

            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="btn-group" style="width: 100%">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="searchMethods">
                        Relevance <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="searchMethodsOptions">
                        <li><a href="#">Relevance</a></li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Hot</a></li>
                        <li><a href="#">New</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
    </div>

    <script src="SearchToolWindow.js"></script>
</body>
</html>